
@font-face {
    font-family: "Pinyon Script";
    src: url(/static/PinyonScript-Regular.ttf);
}

h1 {
    text-align:center;
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.mybody {
    background-color: black;
}
