
@font-face {
    font-family: "Pinyon Script";
    src: url(/static/PinyonScript-Regular.ttf);
}

h1 {
    text-align:center;
    color:bisque;
    font-family: 'Pinyon Script';
    font-size: larger;
}

.mybody {
    background-color: black;
}
